$white: #fff;
$tundora: #4d4949;
$fuscousGray: #4d4c49;
$mineShaft: #393737;
$alto: #dcdcdc;
$superAlto: #ddd;
$froly: #f06786;
$gray: #818181;
$doveGray: #6d6d6d;
$abbey: #494a4d;
$alabaster: #f8f8f8;
$nobel: #b7b7b7;
