* {
  padding: 0;
  margin: 0;
}

.main {
  text-align: center;
  background: linear-gradient(to bottom, white 70%, green 30%);
}

.house {
  margin: 50px;
  padding-left: 100px;
  position: relative;
  display: inline-block;
}

.house__roof {
  border-right: 300px solid transparent;
  border-bottom: 100px solid #1976d2;
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.house__roof::before {
  content: "";
  left: -100px;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #1976d2;
  position: absolute;
}

.house__flue {
  top: 30px;
  right: 100px;
  width: 30px;
  height: 40px;
  background: #6d4c41;
  position: absolute;
  z-index: 999;
}

.house__building {
  top: -5px;
  left: -70px;
  width: 300px;
  height: 200px;
  background: #8e24aa;
  position: relative;
}

.house__window {
  top: 50px;
  left: 20px;
  width: 80px;
  height: 80px;
  background: #a1887f;
  border: 8px solid #424242;
  position: relative;
}

.house__window::before {
  content: "";
  left: 36px;
  height: 80px;
  border-left: 8px solid #424242;
  position: absolute;
}

.house__window::after {
  content: "";
  top: 36px;
  left: 0;
  width: 80px;
  border-top: 8px solid #424242;
  position: absolute;
}

.house__door {
  right: -125px;
  bottom: -4px;
  width: 50px;
  height: 100px;
  background: #880e4f;
  position: relative;
  display: inline-block;
}

.house__door::after {
  content: "";
  top: 40px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #a1887f;
  border-radius: 50%;
  position: absolute;
}
