$white: #fff;
$concrete: #f2f2f2;
$wildSand: #f6f6f6;
$alabaster: #f9f9f9;
$alto: #e0e0e0;
$alternateAlto: #dadada;
$scorpion: #5d5d5d;
$silverChalice: #aca8a8;
$DarkSilverChalice: #aeaeae;
$alto: #d8d8d8;
$mercury: #e6e6e6;
$mineShaft: #3c3b3b;

$dodgerBlue: #4e92ff;
$royalBlue: #447fde;
$indigo: #3b6fc2;

$tanHide: #f89052;
$redDamask: #dc7f47;
$copper: #bd6937;

$lightEmerald: #52be80;
$emerald: #60cf57;
$apple: #4aba42;
$darkApple: #3da235;

$cinnabar: #e74c3c;
$carnation: #f05b5b;
$crail: #bf4141;
$tallPoppy: #ac2d2d;

$sunglow: #ffcf31;
$buttercup: #eebd1c;
$goldTips: #d6a917;

$java: #0fbdb4;
$blueChill: #0ca099;
$darkBlueChill: #0a8a83;
