@import "colorMatrix";

$primaryFont: "Libre Franklin", Helvetica, Arial, sans-serif;
$primaryFontSize: 16px;
$primaryColor: $mineShaft;

$secondaryFont: "Lucida Grande", Helvetica, Arial, sans-serif;
$secondaryColor: $white;
$secondaryBg: $alabaster;

$btnBg: $royalBlue;
$btnHoverBg: $azure;
$inputBorder: $gray;
$inputActiveBorder: $royalBlue;
$inputInvalidBorder: $brickRed;
$placeholderColor: $silver;
