@keyframes show {
  0% {
    transform: translateX(400px);
  }

  25% {
    transform: translateX(200px);
  }

  50% {
    transform: translateX(100px);
  }

  75% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0);
  }
}
