$white: #fff;
$scorpion: #5a5a5a;
$patina: #578b84;
$cararra: #e9eae2;
$waxFlower: #ffc2a6;
$alabaster: #fcfcfc;
$bermuda: #7dd5c9;
$mercury: #e1e1e1;
$caper: #bfe79e;
$mantis: #85ba59;
$silver: #c5c1c1;
$atomicTangerine: #ff915e;
$riptide: #85e3d6;
$gossip: #c3f19d;
$burningOrange: #ff7130;
$gray: #929292;
