@import "colorMatrix";

$primaryFont: "Source Sans Pro", Helvetica, Arial, sans-serif;
$primaryFontSize: 18px;
$primaryColor: $scorpion;

$secondaryFontSize: 28px;
$secondaryColor: $patina;
$additionalColor: $silver;

$headerBg: $cararra;
$headerSaltBg: $waxFlower;
$primaryContentBg: $alabaster;
$bowlsContentBg: $white;
$collectionPotsBg: $bermuda;
$collectionPotsHoverBg: $riptide;
$collectionShakersBg: $caper;
$collectionShakersHoverBg: $gossip;
$collectionShakersColor: $mantis;
$collectionBowlsBg: $waxFlower;
$collectionBowlsHoverBg: $burningOrange;
$collectionBowlsColor: $atomicTangerine;
$roomsElemBg: $mercury;

$primaryLogoBg: $caper;
$secondaryLogoBg: $waxFlower;
$additionalLogoBg: $bermuda;

$placeholderColor: $gray;
